body {
  font-family: 'Comic Neue', cursive;
  background: linear-gradient(to right, #ffccf9, #fcc2ff);
  padding: 20px;
  color: #444;
}

header {
  text-align: center;
  background: linear-gradient(to right, #ff99ff, #ff66ff);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #fff;
  font-size: 36px;
}

label {
  font-size: 16px;
}

input[type="text"], input[type="email"] {
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #ff66ff;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

button {
  background-color: #ff66ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  background-color: #ffccf9;
  border: 1px solid #ff66ff;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#pagination-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
}

#pagination-container button {
  background-color: #ff66ff; 
  color: white; 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}

#pagination-container button:hover {
  background-color: #ff4dff; 
}

#cart {
  background-color: #fff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px; 
}

#cart li {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.cart-item-controls {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.cart-item-controls button {
  background-color: #ff66ff; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 10px; 
  cursor: pointer; 
}

#total-price {
  font-weight: bold; 
  margin-top: 15px; 
  margin-bottom: 10px;
}
